.vrsdk-inline-flex-center {
  display: inline-flex
  align-items: center
  justify-content: center
  flex-direction: row
}

.vrsdk-flex-center {
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
}

.vrsdk-flex-center-column {
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
}

.vrsdk-absolute-full {
  position: absolute
  width: 100%
  height: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
}

.vrsdk-absolute-full-width {
  position: absolute
  width: 100%
  left: 0
  right: 0
}

.vrsdk-absolute-full-height {
  position: absolute
  height: 100%
  top: 0
  bottom: 0
}

.vrsdk-full {
  width: 100%
  height: 100%
}

.vrsdk-full-width {
  width: 100%
}

.vrsdk-full-height {
  height: 100%
}

.vrsdk-bg-center {
  background-repeat: no-repeat
  background-position: center center
}

.vrsdk-text-ellipsis {
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
}

bg-size($w, $h) {
  width: $w
  height: $h
  background-size: $w $h
}

.vrsdk-position-fixed {
  position: fixed
  -webkit-backface-visibility: hidden
}

.vrsdk-overflow-auto {
  overflow: auto
  -webkit-overflow-scrolling: touch
}

.visibility-hidden {
  opacity: 0
  visibility: hidden
}

.visibility-visible {
  opacity: 1
  visibility: visible
}

.vrsdk-clear {
  &::after {
    content: ''
    display: block
    clear: both
  }
}

.vrsdk-btn-no-default {
  cursor: pointer
  background-color: transparent
  border: none
  padding: 0
  border-radius: 0

  &:focus {
    outline: none
  }
}

.vrsdk-text-with-gray-bg {
  color: #fff
  text-shadow: none
}

.vrsdk-text-sm {
  font-size: 12px
  line-height: 14px
}

.vrsdk-text-ms {
  font-size: 14px
  line-height: 20px
}

.vrsdk-text-md {
  font-size: 16px
  line-height: 22px
}

.vrsdk-text-ml {
  font-size: 18px
  line-height: 25px
}

.vrsdk-text-lg {
  font-size: 20px
  line-height: 28px
}

.vrsdk-color-yellow {
  color: #ffd15c
}

.vrsdk-text-center {
  text-align: center
}
