@import 'extends.styl'
@import 'variables.styl'
@import 'transition.styl'

.vrviewer-sdk {
  @extend .vrsdk-full
  position: relative
  margin: 0
  padding: 0
  overflow: hidden
  -webkit-font-smoothing: antialiased

  * {
    box-sizing: border-box
    font-family: 'Helvetica', '微軟正黑體', 'Microsoft JhengHei', '微軟雅黑體', 'Microsoft YaHei', 'sans-serif'
  }

  h1, h2, h3, h4, h5, h6, p, a, span, small {
    color: $white
    text-shadow: 1px 1px 2px #333
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0
  }

  h4, h5, h6 {
    line-height: 22px
  }

  p, a {
    line-height: 18px
  }

  a {
    &, &:hover {
      text-decoration: none
    }

    &:hover, &:active {
      color: $main-color
    }
  }

  ul, li {
    margin: 0
    padding: 0
    list-style-type: none
  }

  figure {
    margin: 0
    padding: 0
  }

  .vrsdk-pre-custom {
    display: block
    font-size: inherit
    font-family: inherit
    border: none
    padding: 0
    margin: 0
    background-color: transparent
    overflow: hidden
    resize: none
    white-space: pre-wrap
    // word-break: break-all
    // word-wrap: break-word
    border-radius: 0
  }

  ::-moz-selection {
    @extend .vrsdk-text-with-gray-bg
    background-color: $light-gray-color
  }

  ::selection {
    @extend .vrsdk-text-with-gray-bg
    background-color: $light-gray-color
  }

  .vrsdk-full-center {
    @extend .vrsdk-absolute-full
    @extend .vrsdk-flex-center-column
    pointer-events: none
  }

  .vrsdk-theme-rtl.vrsdk-theme-rtl-overlap {
    direction: rtl
  }
}
