$response = 768px
$header-height = 92px
$footer-height = 150px
$aside-max-height = 320px

$light-gray-color = #bcbdc1
$dark-gray = #58585a // == rgb(88, 88, 90)
$gray = #555
$white = #fff
$black = #000
$yellow = #ffd15c
$red = #dd402b
$loading-bgc = #444446
$main-color = $black
$sub-color = $light-gray-color

// z-index
$floorplan-wrapper-z = 2
$footer-powered-text-z = 1
$i-aside-m-z = 2
$i-aside-z = 3
$i-header-m-z = 1
$i-header-z = 3
$i-progress-wrapper-z = 5
$icon-cardboard-z = 2
$instructions-z = 4
$krpano-wrapper-z = 0
$loading-z = 5
$main-krpano-wrapper-z = 0
$map-result-z = 1
$map-search-container-z = 1
$panoramas-list-icon-z = -1
$panoramas-z = 1
$popup-close-z = 1
$popup-z = 4
$photo-lazyload-before-z = 1
$vrsdk-viewer-layer-close-z = 2
$vrsdk-viewer-layer-li-z = 1
$vrsdk-viewer-layer-m-z = 4
$viewer-list-wrapper-z = 2
$viewer-list-z = 1
$viewer-markers-hover-z = 4

// RTL variables

// IHeader.vue
$i-header-header-center-pos = 20px
$i-header-header-intro-large-pos = 40px
$i-header-header-intro-pos = 20px

// IAside.vue
$i-aside-aside-icon-close-pos = 15px
$i-aside-i-aside-animate-x = 20px
$i-aside-i-aside-pos = 0
$i-aside-i-nav-parent-pos = 35px

// INav.vue
$i-nav-i-nav-mobile-inner-animate-x = 100%
$i-nav-i-nav-mobile-inner-i-repeat-text-margin = 12px
$i-nav-i-nav-mobile-outer-pos = 20px

// Panoramas.vue
$panoramas-i-repeat-li-margin = 20px

// Footer.vue
$footer-footer-powered-text-pos = 10px

// Instructions/index.vue
$instructions-instructions-close-pos = 15px

// ViewerLayer/index.vue
$vrsdk-viewer-layer-vrsdk-viewer-layer-close = 8px

// Floorplan/index.vue
$floorplan-floorplan-zoom-in-container-margin = 10px
$floorplan-floorplan-zoom-in-container-pos = 0

// IProgress.vue
$i-progress-i-progress-inner-transform-origin = left center
$i-progress-i-progress-inner-transform-origin-rtl = right center

// IMain.vue
$i-main-arrow-collapse-pd = 15px
$i-main-arrow-collapse-short-side = 16px
$i-main-floorplan-wrapper-landscape-pos = 0
$i-main-floorplan-wrapper-landscape-transform-x = 100%
$i-main-i-nav-pc-tooltip-after-border-color = transparent transparent transparent alpha($dark-gray, 80%)
$i-main-i-nav-pc-tooltip-after-border-color-rtl = transparent alpha($dark-gray, 80%) transparent transparent
$i-main-i-nav-pc-tooltip-after-pos = 100%
$i-main-i-nav-pc-tooltip-margin = 55px
$i-main-i-nav-pc-tooltip-pos = 0
$i-main-i-nav-pc-tooltip-text-align = right
$i-main-i-nav-pc-tooltip-text-align-rtl = left
$i-main-share-container-share-list-margin = 30px

// MarkerInfo.vue
$marker-info-large-left-margin = 22px
$marker-info-text-align = left
$marker-info-text-align-rtl = right

// ShareList.vue
$share-list-share-list-icon-margin = 24px
$share-list-share-list-text-margin = 83px
