themes-global(main-color, sub-color) {
  a {
    &:hover, &:active {
      color: main-color
    }
  }

  ::-moz-selection {
    background-color: main-color
  }

  ::selection {
    background-color: main-color
  }

  .i-progress-inner {
    background-color: mix(sub-color, main-color)
    background-image: linear-gradient(to right, main-color, sub-color)
  }

  .floorplan-point {
    &.active, &:hover {
      background-color: sub-color
    }
  }

  .floorplan-activated-point {
    background-color: alpha(main-color, 90%)
  }

  .viewer-layer-li-active {
    &::after {
      background-color: main-color
    }
  }

  .comments-send-comment-button {
    background-color: main-color

    &:hover {
      background-color: darken(main-color, 5%)
    }
  }

  .buildings-underline {
    background-color: main-color
  }

  .viewer-layerrmation-underline {
    background-color: main-color
  }

  .panoramas {
    .panoramas-list-a-active {
      .panoramas-list-icon-wrapper {
        border-color: main-color
      }
    }
  }

  .promotion-bar-link {
    color: main-color
  }

  @media (min-width: $response) {
    .panoramas {
      .panoramas-list-a {
        &.active, &:hover {
          &:not(.panoramas-list-a-active) {
            .panoramas-list-icon-wrapper {
              border-color: sub-color
            }
          }
        }
      }
    }
  }
}
